{% extends "base.html" %}
{% block title %}{{ tag.name }}{% endblock %}
{% load static %}

{% block content %}
    <!--breadcrumbs area start-->
    <div class="breadcrumbs_area">
        <div class="container">   
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_content">
                        <h3>{{ tag.name }} - Category</h3>
                        <ul>
                            <li><a href="{% url "home" %}">home</a></li>
                            <li>{{ tag.name }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>         
    </div>
    <!--breadcrumbs area end-->
    
    <!--shop  area start-->
    <div class="shop_area shop_fullwidth mb-80">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!--shop wrapper start-->
                    
                    <!--shop toolbar start-->
                    <div class="shop_toolbar_wrapper">
                        <div class="shop_toolbar_btn">
                            <button data-role="grid_4" type="button"  class="active  btn-grid-4" data-bs-toggle="tooltip" title="4"></button>
                            <button data-role="grid_3" type="button" class=" btn-grid-3" data-bs-toggle="tooltip" title="3"></button>
                            <button data-role="grid_list" type="button"  class="btn-list" data-bs-toggle="tooltip" title="List"></button>
                        </div>
                        <div class=" niceselect_option">
                            <form class="select_option" action="#">
                                <select name="orderby" id="short">

                                    <option selected value="1">Sort by average rating</option>
                                    <option  value="2">Sort by popularity</option>
                                    <option value="3">Sort by newness</option>
                                    <option value="4">Sort by price: low to high</option>
                                    <option value="5">Sort by price: high to low</option>
                                    <option value="6">Product Name: Z</option>
                                </select>
                            </form>
                        </div>
                        <div class="page_amount">
                            <p class="h5">We found {{ products.count }} item{{ products.count|pluralize:'s' }} for you!</p>
                        </div>
                    </div>
                     <!--shop toolbar end-->
                     <div class="row shop_wrapper">
                        {% for p in products %}
                        <div class="col-lg-3 col-md-4 col-sm-6 col-12 ">
                            <div class="single_product">
                                <div class="product_thumb">
                                    <a class="primary_img" href="{% url 'product_detail' p.pid %}">
                                        <img src="{{ p.image.url }}" alt=""></a>


                            
                                {% for image in p.productimages_set.all %}
            
                                <a class="secondary_img" href="{% url 'product_detail' p.pid %}">
                                    <img src="{{ image.images.url }}" alt="{{ product.title }}">
                                </a>
                                    {% endfor %}
									<div class="label_product">
										<span class="label_sale">-{{p.get_percentage|floatformat:0}}&#37;</span>
									</div>
									<div class="action_links">
										<ul>
											<li class="quick_button"><a href="#" data-bs-toggle="modal" data-bs-target="#modal_box"  title="quick view"> <span class="pe-7s-search"></span></a></li>
											<li class="wishlist"><a href="wishlist.html" title="Add to Wishlist"><span class="pe-7s-like"></span></a></li>
											<li class="compare"><a href="#" title="Add to Compare"><span class="pe-7s-edit"></span></a></li>                                                 
										</ul>
									</div>
                                </div>
                                <div class="product_content grid_content">
                                    <div class="product_content_inner">
										<h4 class="product_name"><a href="{% url 'product_detail' p.pid %}">{{p.title}}</a></h4>
										<div class="price_box"> 
											<span class="old_price">&#x20A6; {{p.old_price}}</span>
											<span class="current_price">&#x20A6; {{p.price}}</span>
										</div>
									</div>
									<div class="add_to_cart">
										<a href="cart.html">Add to cart</a>
									</div>
                                </div>
                                <div class="product_content list_content">
                                    <h4 class="product_name"><a href="{% url 'product_detail' p.pid %}">{{p.title}}</a></h4>
									<div class="price_box"> 
										<span class="old_price">&#x20A6; {{p.old_price}}</span>
										<span class="current_price">&#x20A6; {{p.price}}</span>
									</div>
                                    <div class="product_rating">
                                        <ul>
                                            <li><a href="#"><i class="ion-android-star"></i></a></li>
                                            <li><a href="#"><i class="ion-android-star"></i></a></li>
                                            <li><a href="#"><i class="ion-android-star"></i></a></li>
                                            <li><a href="#"><i class="ion-android-star"></i></a></li>
                                            <li><a href="#"><i class="ion-android-star"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="product_desc">
                                        <p>{{p.description}}</p>
                                    </div>
                                    <div class="add_to_cart shop_list_cart">
										<a href="cart.html">Add to cart</a>
									</div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        
                    </div>
                    <div class="shop_toolbar t_bottom">
                        <div class="pagination">
                            <ul>
                                <li class="current">1</li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li class="next"><a href="#">next</a></li>
                                <li><a href="#">>></a></li>
                            </ul>
                        </div>
                    </div>
                    <!--shop toolbar end-->
                    <!--shop wrapper end-->
                </div>
            </div>
        </div>
    </div>
    <!--shop  area end-->
    {% endblock  %}